/br/com/ifba/atividade04/AtividadeGenio/nbproject/private/
/br/com/ifba/atividade04/AtividadeGenio/build/
/br/com/ifba/atividade05/repeticaoComSlider/nbproject/private/
/br/com/ifba/atividade05/repeticaoComSlider/build/
